<!DOCTYPE html>
<html data-ng-app="jobs" data-ng-cloak>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <main data-ng-controller="UserController as vm">
      <h1>User</h1>

      <form>
        <input type="text" id="name" data-ng-model="vm.user.name">
        <input type="password" id="password" data-ng-model="vm.user.password">

        <button type="button" data-ng-click="vm.save(vm.user)">Save</button>
      </form>

      <button type="button" data-ng-click="vm.deleteSelected(vm.users)">Delete selected</button>

      <ul data-ng-init="vm.initUsers()">
        <li data-ng-repeat="user in vm.users">
          <input type="checkbox" data-ng-model="user.selected">
          {{user.name}}
        </li>
      </ul>

    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/config/api-config.js"></script>
    <script src="js/services/user-service.js"></script>
    <script src="js/controllers/user-controller.js"></script>
  </body>
</html>
